.books-form {
  &.main {
    width: auto;
    padding: 0 100px 50px 100px;
  }

  &.add-text {
    height: 24px;
    margin: 29px 524px 19px 0;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #888;
  }

  &.form-main {
    width: 100%;

  }

  &.form-inputs{
    display: flex;
    // align-items: stretch;
  }

  &.input {
    box-sizing:content-box; 
    width: 100%;
    height: 40px;
    padding-left:   20px;
    margin: 0 20px;
    border-radius: 4px;
    border: solid 1px $pinkish-gray;
    color: $black-three;
    background-color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    // flex-shrink: 1;
  }

  &.select-category {
    -moz-appearance: window;
    -webkit-appearance: none;
  }

  &.add-book {
    width: 100%;
    border-radius: 3px;
    margin: 20px 0px;
    padding: 20px;
    // height: 40px;
    background-color: $color-blue;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
  }
}
