.book-store-header {
  &.main{
    margin: 37px 100px 0;
  height: 95px;
  background-color: #fff;
  }
  

  &.content {
    max-width: 1200px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


  &.title {
    font-size: 30px;
    font-weight: bold;
    padding-right: 15px;
    color: $color-blue;
  }

  &.categories {
    padding-right: 15px;
    font-size: 13px;
    font-stretch: normal;
    letter-spacing: 1.9px;
    color: $black-three;
  }
}
