.book {
  &.main-container {
    width: 50%;
  }

  &.main {
    width: 1100px;
    display: flex;
    align-items: center;
    padding: 0 27px;
    height: 170px;
    margin: 37px 100px 0;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: #fff;
  }

  &.title {
    height: 29px;
    margin: 3px 323px 0 0;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: $black-three;
  }

  &.category {
    margin: 0 39px 0 0;
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black-three;
  }

  &.writer {
    width: 107px;
    height: 19px;
    margin: 4px 0 0;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4386bf;
  }

  &.action-buttons {
    width: 73px;
    height: 19px;
    margin: 3px 15px 2px 0;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4386bf;
    background: none;
  }

  &.button-remove,
  &.button-edit {
    border-left: 2px solid $pale-gray;
  }

  &.percentage-container {
    display: flex;
  }

  &.percentage {
    border-radius: 50%;
    width: 90px;
    height: 89.9px;
    padding: 9.9px 10px 12px 12px;
  }

  &.oval {
    width: 68px;
    height: 68px;
    border-style: solid;
    border: none;
    border-width: 5px;
    border-radius: 50%;
    border-image-slice: 1;
    background:
      radial-gradient(white 29px, transparent 29px),
      conic-gradient($medium-blue 0%, $dodger-blue 70%, $pale-gray 70%);
  }

  &.percentage-subcontainer {
    border-right: 2px solid $pale-gray;
  }

  &.percentage-text {
    width: 68px;
    height: 39px;
    margin: 1px 92px 0 11px;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black-three;
  }

  &.current-text {
    font-family: 'Roboto Slab', serif;
    width: 126px;
    height: 18px;
    margin: 1px 58px 0 59px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black-three;
  }

  &.current-chapter {
    width: 75px;
    height: 21px;
    margin: 7px 109px 4px 59px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: $black-three;
  }

  &.update-progress {
    width: 184px;
    height: 33px;
    margin: 12px 0 9px 59px;
    padding: 7px 19px 8px 22px;
    font-size: 13px;
    border-radius: 3px;
    background-color: $color-blue;
    color: #fff;
    font-family: 'Roboto Slab', serif;
  }
}
