.user-form{

    &.form-main {
        width: 200px;
        margin: 0 auto;

    }

    &.inputs {
        width: 100%;
        height: 40px;
        padding:0 20px;
        margin:10px 0px;
        border-radius: 4px;
        border: solid 1px $pinkish-gray;
        color: $black-three;
        background-color:#fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px; 
    }

    &.submit-button {
        
        width: 100%;
        border-radius: 3px;
        margin: 20px 0 ;
        padding: 20px 40px;
        // height: 40px;
        background-color: $color-blue;
        color: #fff;
        font-weight: bold;
        // letter-spacing: 0.5px;
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
    }

}