@import 'reset.css';
@import 'variable';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $white-gray;
}

@import 'book-store-header',
  'books-page',
  'book',
  'category-filter',
  'progress-chart',
  'profile',
  'user-form',
  'books-form',
  'loading';
