@import './reset.css';
@import './variable';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $white-gray;
}

@import './book-header';
@import './app';
@import './book';
@import './books-form';
